.form-block {
	display: flex;
	&__photo {
		width: 42%;
		background: url("../images/woman-note.jpg") top left / auto 100% no-repeat;
	}
	&__form	{
		width: 58%;
		padding: 54px 54px 40px;
		background: url("../images/decor-big.svg") top  right no-repeat, $gray;
	}
	.title {
		font-size: 21px;
		margin-bottom: 25px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
	}
	input[type="text"], textarea {
		display: block;
		width: 100%;
		padding: 25px;
		background-color: $gray;
		border: 1px solid $lgray;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $lblack;
		transition: all .2s linear;
		&::placeholder {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: #776c6c;
			opacity: 1;
		}
		&.form-block__input_small {
			width: calc(50% - 35px);
			&:nth-child(odd) {
				margin-right: 70px;
			}
		}
		&:focus {
			border-color: $blue;
		}
	}
	input[type="text"] {
		margin-bottom: 40px;
	}
	textarea {
		margin-bottom: 30px;
		min-width: 100%;
	}
	&__btn {
		display: flex;
		justify-content: flex-end;
		margin-top: 30px;
	}
	&__captcha-place {
		width: 50%;
		img {
			max-width: 100%;
		}
	}
	&__agree {
		margin-top: 20px;
		font-family: $ff;
		font-size: 14px;
		font-weight: 500;
		color: $bl;
		line-height: 1.5;
		a {
			font-family: $ff;
			font-size: 14px;
			font-weight: 600;
			color: $bl;
			line-height: 1.5;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
}


/*================Adaptive=====================*/
@media(max-width: 1024px) {
	.form-block {
		&__form {
			padding: 54px 30px 40px;
		}
		input[type="text"], textarea {
			&.form-block__input_small {
				width: calc(50% - 15px);
				&:nth-child(odd) {
					margin-right: 30px;
				}
			}
		}
		input[type="text"] {
			margin-bottom: 30px;
		}
	}
}
@media(max-width: 880px) {
	.form-block {
		&__form {
			background-position: top -70px right -40px;
		}
		input[type="text"], textarea {
			&.form-block__input_small {
				width: 100%;
				&:nth-child(odd) {
					margin-right: 0;
				}
			}
		}
		&__captcha-place {
			width: 100%;
		}
	}
}
@media(max-width: 766px) {
	.form-block {
		flex-direction: column-reverse;
		&__photo {
			display: none;
		}
		&__form {
			width: 100%;
		}
	}
}
@media(max-width: 546px) {
	.form-block {
		.title {
			font-size: 16px;
		}
		input[type="text"], textarea {
			padding: 20px;
			font-size: 14px;
			&::placeholder {
				font-size: 14px;
			}
		}
		&__agree {
			font-size: 12px;
			a{
				font-size: 12px;
			}
		}
	}
}